<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/css/styles.css">
</head>
<body>
  <!--Rooms Bar-->
  <div class="flex">
    <div class="bg-gray-900 w-20 flex-none flex flex-col min-h-screen h-screen px-2 py-2">
      <div class=" overflow-y-auto">
        <ul class="text-center">
          <li><a href="friends.html"><img src="../assets/Images/Rabl_Logo_gradient.png" alt="RABL" class="w-12 h-12 rounded-xl mx-auto"></a></li>
          <li class="border-b border-gray-700 mx-4 mt-3"></li>
          <ul class="serversList">
            <li>

            </li>
          </ul>
          <li class="mt-3"><a href="#" class="w-12 h-12 bg-gray-800 hover:bg-teal-500 text-teal-500 hover:text-white inline-block rounded-xl">
            <svg fill="currentColor" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
            </svg>
          </a></li>
        </ul>
      </div>
    </div>
    <!--End Rooms Bar-->
    <!--Top Bar-->
    <div class ="flex-1 flex flex-col min-h-screen h-screen">
      <div class="flex text-white h-12">
        <!--Room Name-->
        <div class="bg-gray-800 w-56 flex-none flex items-center justify-between border-b border-gray-900 px-3 py-2">
          <div> Rabl</div>
          <button>
            <svg fill="currentColor" viewBox="0 0 24 24" width="24" height="24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 13l-7 7-7-7m14-8l-7 7-7-7" />
            </svg>
          </button>
        </div>
        <!--Top bar-->
        <div class="flex-1 bg-gray-800 flex items-center justify-between border-b border-gray-900 px-4">
          <div class="flex items-center">
              <div class="text-gray-500 text-2xl" id="bannerText"></div>
              
              <div class="border-l pl-3 ml-3 border-gray-600 text-xs text-gray-400">They really do be rabl'in tho</div>
            </div>
          <div class="flex items-center">
            <!--Notification-->
           <a href="#" class="ml-4">
            <svg class="w-6 h-6 text-gray-500 hover:text-gray-200" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
            </svg>
           </a>
           <!--Top Posts-->
           <a href="#" class="ml-4">
            <svg class="w-6 h-6 text-gray-500 hover:text-gray-200" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5" />
            </svg>
           </a>
           <!--Toggle Active Users-->
           <a href="#" class="ml-4">
            <svg class="w-6 h-6 text-gray-500 hover:text-gray-200" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" />
            </svg>
           </a>
           <!--Search bar-->
           <a href="#" class="ml-4">
             <form action="#" class="relative">
               <input type="text" placeholder="Search" class="rounded bg-gray-900 text-gray-200 text-xs px-2 py-1">
               <span class="absolute right-0 top-0 mr-1" style="top:4px">
                <svg class="w-5 h-5 text-gray-500 hover:text-gray-200" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                </svg>
               </span>
             </form>
           </a>
           <!--Inbox-->
           <a href="#" class="ml-4">
            <svg class="w-6 h-6 text-gray-500 hover:text-gray-200"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4" />
            </svg>
           </a>
           <!--Help-->
           <a href="#" class="ml-4">
            <svg class="w-6 h-6 text-gray-500 hover:text-gray-200" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
           </a>
          </div>
        </div>
      </div> 
      <!--End Top Bar-->
      <!-- Channel Bar-->
      <div class="flex-1 bg-gray-800 flex overflow-y-hidden">
        <div class="w-56 flex-none bg-gray-800 flex-none flex flex-col justify-between">
          <div class="text-sm overflow-y-auto">
            <!--Channel List-->
            <ul class="px-2 py-3">
              <!-- If you want to Indicate if a Channel has a new message set text-gray to 100
              Active Channel will be marked with bg-gray-600 -->
              <!--Channel Format-->
              <li class="text-gray-500 px-2 hover:text-gray-100 hover:bg-gray-900 bg-gray-600 rounded">
                <a href="#" class="flex items-center">
                  <span class="text-xl">#</span>
                  <span class="ml-2">Welcome 2 Rabl</span>
                </a>
              </li>
              <!--End Channel Format-->
              <li class="text-gray-500 px-2 hover:text-gray-200 hover:bg-gray-900 rounded">
                <a href="#" class="flex items-center">
                  <span class="text-xl">#</span>
                  <span class="ml-2">ShitPosting</span>
                </a>
              </li>
            </ul>
            <!--Collapsible Channel-->
            <button class="flex items-center text-gray-500 hover:text-gray-200 rounded">
              <svg class="w-4 h-4 text-gray-500 hover:text-gray-200" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M19 9l-7 7-7-7" />
              </svg>
              <h3 class="uppercase tracking-wide font-semibold text-xs"><a href="room.html"></a>Voice/Video</h3>
            </button>
            <!--End Collapsible-->
          </div>
          <!-- User Info Section-->
          <div class="bg-gray-800 px-2 py-2 flex items-center justify-between">
            <div class="flex items-center">
              <a href="#"><img src="../placeholder/images/treti.png" class="w-8 h-8 rounded-xl"></a>
              <div class="text-xs ml-2">
                <div class="text-white">Test</div>
                <div class="text-gray-500 text-xxs">Filler Status</div>
              </div>
            </div>
            <!--Controls-->
            <div class="flex items-center text-gray-500">
              <!--Mute Microphone-->
              <a href="#" class="ml-3">
                <svg class="w-5 h-5 text-gray-500 hover:text-gray-200" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 11a7 7 0 01-7 7m0 0a7 7 0 01-7-7m7 7v4m0 0H8m4 0h4m-4-8a3 3 0 01-3-3V5a3 3 0 116 0v6a3 3 0 01-3 3z" />
                </svg>
              </a>
              <!--Mute Headphones-->
              <a href="#" class="ml-3">
                <svg class="w-5 h-5 text-gray-500 hover:text-gray-200" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.586 15H4a1 1 0 01-1-1v-4a1 1 0 011-1h1.586l4.707-4.707C10.923 3.663 12 4.109 12 5v14c0 .891-1.077 1.337-1.707.707L5.586 15z" clip-rule="evenodd" />
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2" />
                </svg>
              </a>
              <!--Settings-->
              <a href="#" class="ml-3">
                <svg class="w-5 h-5 text-gray-500 hover:text-gray-200" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                </svg>
              </a>
            </div>
             <!--End Controls-->
          </div>
          </div>
          <!--Chat Window-->
          <div class="flex-1 flex justify-between">
          <div class="bg-gray-750 flex-1 flex flex-col justify-between">
            <div class="text-sm text-gray-400 overflow-y-auto overflow-y: scroll" id="chatWindow">
              <ul id="messageList">
                <li>
                  <!--Messages Go Here -->
                </li>
              </div>
                  <!--End Of Message-->
              </ul>      

          <!-- Chat Bar-->
          <!--Attachments-->
          <form action="" onsubmit="return sendMessage()" id="MessageForm">
          <div class="bg-gray-700 h-16 flex items-center mx-3 border-t border-gray-600 rounded-xl">
            
            <button class="px-2 py-2 h-10 bg-gray-700 rounded-l text-gray-500 hover:text-white border-r border-gray-600">
              <svg class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            </button>
            <!--Text Area-->
            
            <div class="flex-1">
              <input type="text" class="w-full text-sm h-10 px-2 py-2 bg-gray-700 text-gray-200 focus:outline-none" id="messageInput" placeholder="Message..." name="messageInput">
            </div>
            
            <!--Gif Drawer-->
            <button class="px-2 py-2 h-10 bg-gray-700 rounded-l text-gray-500 hover:text-white border-l border-gray-600">
              <svg class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            </button>
            <!--Emoji-->
            <button class="px-2 py-2 h-10 bg-gray-700 rounded-l text-gray-500 hover:text-white">
              <svg class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            </button>
          </div> 
        </div>
      </div>
    </form>
        <!-- Online Users-->
          <div class="test-sm bg-gray-800 w-56 flex-none px-3 py-3 overflow-y-auto">
            <h3 class="uppercase tracking-wide font-semibold text-sm text-gray-500 mb-2">Test Users -1</h3>
            <ul class="mb-6 truncate">
              <li class="text-gray-500 px-2 hover:text-gray-200 hover:bg-gray-750 py-1 my-2">
                <a href="" class="flex items-center">
                  <span><a href="#"><img src="../placeholder/images/treti.png" class= "w-8 h-8 rounded-xl"></a></span>
                  <span class="ml-2">Treti</span>
                </a>
              </li>
            </ul>
            <div>
            </div>
          </div>
        </div> 
      </div>
</body>
<script src="../lib/index.js"></script>
<script src="../scripts/message.js"></script>
<script src="../scripts/directMessage.js"></script>
</html>