<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Rabl Login</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <link rel="stylesheet" href="../assets/css/login.css" type="text/css">

</head>
<body>
    <div id="RABL">
        <h1>[RABL]</h1>
    </div>
    <a><img src="../assets/Images/Rabl_Logo_gradient.png" id="logo"></a>
    <div id="form">
        <!--Username-->
        <div>
            <label for="username" id="userLabel">Username:</label>
            <input type="text" id="username" name="username"></input>
        </div>
            </br>
        <!--Password-->
        <div>
            <label for="password"id="passLabel">Password:</label>
            <input type="password" id="password" name="password"></input>
        </div>  
            </br>
            <button id="loginButton">Log me in!</button>
            <button id="testButton">Test Rust</button>
    </div>
    <div id="footer">
        <a href="https://tylerb.dev" style="color: #FFFFFF">Don't have an account?</a>
    </div>
</body>
<script src= "../lib/index.js"></script>

</html>
